RewriteEngine On
RewriteBase /

# Tentativa com barra inicial e caminho completo
RewriteRule ^api/(.*)$ /index.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]